.body{
    background-color: #121a20;
}


.header{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom: 0px;
    font-size: 40px;
    font-family:"Cedarville Cursive", cursive;
    z-index: 1;
    height: 150px;

    }


    .right{
        position: absolute;
        top:10px;
        margin-right:1500px;
        left:1850px;
        top:32px;
    }

    .nameof{
        position: absolute;
        right:0px;
        color:white;
        font-family:"Cedarville Cursive", cursive; 
        font-weight: bold;
    }

    .left{
    
        position: absolute;
        left:0px;
        top:0px;
        
    }
    
    .location{
        height: 100px;
        max-width: 100px;
    }
    
    .p1{
        color:white;
        text-align: center;
        position: absolute;
        top:32px;
        left:90px;
        font-family: "Cedarville Cursive", cursive;
    }

    .title-top{
        color:white;
        position: absolute;
        top:150px;
        left:350px;
        font-size:48px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .title-bottom{
        color:rgb(69, 92, 168);
        position: absolute;
        top:230px;
        left:350px;
        font-size:46px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .res{
        color:white;
        position: absolute;
        top:380px;
        left:350px;
        width: 430px;
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 50px;
    }

    .btn1{
        position: absolute;
        top:330px;
        left:1100px;
        height: 80px;
        width: 280px;
        border-style:dotted;
        border-color: white;
        background-color:#121a20;
        color:white;
        font-size:20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }

    .btn1:hover{
        position: absolute;
        top:330px;
        left:1100px;
        height: 80px;
        width: 280px;
        border-style:solid;
        border-color: white;
        background-color:#121a20;
        color:white;
        font-size:20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor:pointer;
        
    }